body{
    font-family: 'Bahnschrift Light', Arial, sans-serif;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box{
    display: flex;
    flex-direction: row;
}
.img{
    width: 100%;
    height: 500px;
    background-size: cover;
    background-image: url("https://images.pexels.com/photos/10638094/pexels-photo-10638094.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
#head {
    display: flex;
    justify-content: center;
    align-items: center;
}
#head > p {
    font-size: calc(15px + (15 + 15 *0.7) * (100vw - 320px) / 1280);
}
.schools{
    width: 80%;
    margin: 0 auto;
}
.school{
    display: flex;
    flex-direction: row;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 30px;
    border-radius: 15px;
    padding: 3%;
}
.img_schools{
    max-width: 200px;
}
.text_box{
    margin-left: 5%;
}
.text_box > #p{
    font-size: calc(10px + (10 + 10 *0.7) * (100vw - 320px) / 1280);
}
.text_box > p{
    font-size: calc(8px + (6 + 6 *0.7) * (100vw - 320px) / 1280);
}
.cont_of_reiting{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}