body{
    font-family: 'Bahnschrift Light', Arial, sans-serif;
}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(47, 77, 81);
    font-size: calc(15px + (10 + 10 * 0.7) * ((100vw - 320px) / 1280));
    font-family: 'Segoe Print', sans-serif;
    max-height: 100px;
}
.hhh{
    margin: 10px;
    margin-left: 50px;
}
.hhh > a{
    color: rgb(47, 77, 81);
}

.head_div{
    display: flex;
    justify-content: center;
    padding: 0% 5%;
    width: 100%;
    height: 600px;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("https://cdn.create.vista.com/api/media/medium/229024430/stock-photo-happy-male-teacher-throwing-apple?token=1yev63horpVylEd4vUvmDtGJpQKO98Y1gGmkpeXw16C4pBiQ6SB9jpp1pMzfgo4F");
}
.container2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 90%;
    
}
.container2 > div{
    width: 70%;
    padding: 2%;
    border-radius: 15px;
    box-shadow: rgba(104, 106, 109, 0.2) 0px 8px 24px;
    margin: 30px;
    background-color: rgba(47, 77, 81, 0.162);
}
.container2 > div:hover{
    box-shadow: rgb(104, 106, 109) 0px 8px 24px;
}
.container2 > div > h3{
    color: rgb(24, 38, 40);
}

.button {
    --color: rgb(47, 77, 81);
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
   }
   
   .button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
   }
   
   .button:hover {
    color: #fff;
   }
   
   .button:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
   }
   
   .button:hover:before {
    top: -30px;
    left: -30px;
   }
   
   .button:active:before {
    background: #3a0ca3;
    transition: background 0s;
   }
   #a{
    color: black;
   }
   #a:hover{
    color: white;
   }